<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body class="flex items-center justify-center min-h-screen dark-theme">
    <div class="text-center">
      <h1 class="text-6xl font-bold mb-4">404</h1>
      <p class="text-2xl mb-8">Page Not Found</p>
      <a href="/" class="text-purple-500 hover:underline">Go back to Home</a>
    </div>
  </body>
</html>
